.wrap{
  display: flex;
  flex-direction: column;
  height:100%;
}

.header{
  display: flex;
  flex-direction: column;
  flex:1;
}

.header_title{
  float:left;
  font-size: 40px;
  border-bottom: 3px solid black;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.todo_add{
  display: inline-block;
  float:right;
}

.todo_add_btn{
  background-color: #0089c3;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.todo_add_btn:hover{
  background-color: #0089c3;
  color: black;
}

.todo_add_btn:focus{
  outline: none;
  border: none;
}

.content{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.todo_plan{
  display: flex;
  flex-direction: row;
  flex:1;
}

.todo_plan_form{
  display: flex;
  flex-direction: column;
  width:400px;
  border-bottom: 1px solid #dbdbdb;
}

.todo_plan_input_wrapper{
  display: flex;
  flex-direction: column;
  width:400px;
}

.todo_plan_btn_wrapper{
  display: flex;
  flex-direction: row;
  width:100px;
}

.todo_priority_wrapper, .todo_status_wrapper, .todo_priority_btn_wrapper, .todo_priority_btn_wrapper, .todo_delete{
  display:inline-block;
}

.todo_plan_left{
  display: flex;
  flex-direction: column;
  width:400px;
  border-bottom: 1px solid #dbdbdb;
}

.todo_plan_right{
  display: flex;
  flex-direction: column;
  width:200px;
  border-bottom: 1px solid #dbdbdb;
}

.todo_save_btn, .todo_date_btn, .todo_cancel_btn, .todo_update_btn, .todo_delete_btn{
  background-color: white;
  border: 2px solid #c9c9c9;
  border-radius: 10px;
  color: black;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.todo_save_btn:hover, .todo_date_btn:hover, .todo_cancel_btn:hover, .todo_update_btn:hover, .todo_delete_btn:hover{
  background-color: #c9c9c9;
  color: white;
}

.todo_save_btn:focus, .todo_date_btn:focus, .todo_cancel_btn:focus, .todo_update_btn:focus, .todo_delete_btn:focus{
  outline: none;
  border: none;
}

.todo_input_title{
  display:inline-block;
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.todo_input_title:focus{
  border: 3px solid #555;
}

.todo_input_content{
  display:inline-block;
  width: 400px;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.todo_input_content:focus{
  border: 3px solid #555;
}

.todo_status{
  width:150px;
  height:20px;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;

}

.todo_priority{
  width:150px;
  height:20px;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.todo_status:hover, .todo_priority:hover{
  color: black;
}

.todo_priority_btn, .todo_status_btn{
  background-color: #0089c3;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.todo_priority_btn:hover, .todo_status_btn:hover{
  color: black;
}

.todo_priority_btn:focus, .todo_status_btn:focus{
  outline: none;
  border: none;
}

.todo_date{
  width:150px;
  height:20px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.todo_date_input{
  display:inline-block;
  background-color: #f5f5f5;
  text-align: center;
  width: 100px;
  margin: 3px 0;
  box-sizing: border-box;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  cursor: pointer;
}

.todo_date_input:focus{
  border: 3px solid #555;
}

.todo_alarm{
  width:150px;
  height:20px;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
